*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
/mock/node_modules
.externalNativeBuild
.cxx
local.properties
/moudle_rn/rnlib/node_modules
