*.iml
.gradle
/local.properties

/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

.DS_Store
/build
/captures

/mock/node_modules
.externalNativeBuild
.cxx
local.properties

/moudle_rn/rnlib/node_modules

/app/debug
/app/release
/local_lib/rn/build
/local_lib/hermes/build
/local_lib/jsc/build

/module_flutter/build
/module_flutter/.android/.gradle
/module_flutter/.android/build
/module_flutter/.android/flutter/build
/module_flutter/.android/plugins_build_output
/module_flutter/.dart_tool/flutter_build

/module_flutter/.idea
/module_flutter/.dart_tool

/module_flutter/.ios/Pods
/module_flutter/.ios/.symlinks
