<?xml version="1.0" encoding="utf-8"?>
<manifest  xmlns:android="http://schemas.android.com/apk/res/android" package="com.aries.common">

    <application>
        <activity android:name="com.aries.common.ui.detail.DetailActivity" />
        <activity android:name="com.aries.common.ui.test.StoreGoodsActivity" />
    </application>
</manifest>