<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.main">

    <application>
        <activity android:name=".MainActivity" />
        <activity android:name=".ui.adv.AdvertiseActivity" />
        <activity android:name=".ui.waterfall.WaterfallListActivity" />
        <activity android:name=".ui.coordinator.ScrollTabActivity"/>
    </application>
</manifest>